@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TransInstrumentSans';
  src: url('/fonts/TransInstrumentSansVF.ttf');
}

@font-face {
  font-family: 'Transluoghi';
  src: url('/fonts/Transluoghi2.ttf');
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

main {
  min-height: 100svh;
}

body {
  font-family: 'TransInstrumentSans';
}

.prose-custom {
  @apply prose max-w-none;
  @apply prose-h1:my-1 prose-h2:my-1 prose-h3:my-1 prose-h4:my-1 prose-p:my-1;
  @apply sm:prose-p:text-center sm:prose-headings:text-center;
  @apply sm:prose-ul:text-center sm:prose-ol:text-center sm:prose-li:text-center sm:prose-blockquote:text-center;
}

.prose-custom-no-center {
  @apply prose max-w-none;
  @apply prose-h1:my-1 prose-h2:my-1 prose-h3:my-1 prose-h4:my-1 prose-p:my-1;
}

.prose-custom-justify {
  @apply prose max-w-none;
  @apply prose-h1:my-1 prose-h2:my-1 prose-h3:my-1 prose-h4:my-1 prose-p:my-1;
  @apply text-justify;
}

@layer base {
  h1 {
    @apply font-bold;
    @apply text-3xl;
    @apply pt-4;
    @apply pb-2;
    @apply leading-tight;
  }

  h2 {
    @apply font-bold;
    @apply text-2xl;
    @apply pt-3;
    @apply pb-1;
    @apply leading-tight;
  }

  h3 {
    @apply font-medium;
    @apply text-xl;
    @apply pt-2;
    @apply pb-1;
    @apply leading-snug;
  }

  p {
    @apply font-normal;
    @apply text-sm;
    @apply pb-2;
    @apply leading-5;
  }

  li {
    @apply text-sm;
    line-height: 1em;
  }
  a {
    @apply text-black;
  }
}

.bullet-active {
  background: black !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 8px !important;
  position: absolute !important;
}
